 <html>
    <head>
        <title>rmapp-result</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Review Condition Results for the given Cost Matrix </h1>
            </div>
            <br>

            <div id="content">
            <h2>
            
            Collection Statistics: <br> <br>
            Data: RCV1-v2 Test Collection <br>
            Responsive class: Documents in DOMESTIC POLITICS (GPOL) category <br>
            Privileged class: Documents in ECONOMICS (ECAT) category <br>
            Total number of Documents in the Test Set: 20,000 <br>
            Responsive class Prevalence: 15.27%<br>
            Privileged class Prevalence: 7.44%<br>
            Prevalence of the Intersection among Responsive and Privileged classes: 1.45% <br><br>
            <hr><br>
            
            Manual Review Statistics: <br> <br>
            Number of Documents to be reviewed for Responsiveness =  <strong>{{Taur}}</strong> of 20,000 ({{Tau_rpercent}}%)
            <br>
            Number of Documents to be reviewed for Privilege =  <strong>{{Taup}}</strong> ({{Tau_ppercent}}% of 20,000)
            <br> <br>
            <!-- <strong> Review Condition =  {{message}}</strong> -->
            <h2>
               
            </div>
        </div>
    </body>
</html>
