 <html>
    <head>
        <title>rmapp-result</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Review Condition Results for the given Cost Matrix </h1>
            </div>
            <br>

            <div id="content">
            <h3>
                Result Statistics:<br> <br>
                Total number of Documents in the Collection: 20,000 <br>

                <hr>
                Number of Documents to be reviewed for Relevance =  <strong>{{Tau_rpercent}}</strong> percent
                <br><br>
                Number of Documents to be reviewed for Privilege =  <strong>{{Tau_ppercent}}</strong> percent
                <br> <br>
                <strong> Review Condition =  {{message}}</strong>
            <h3>
               
            </div>
        </div>
    </body>
</html>
