<html>
    <head>
        <title>rmapp-inputs</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Risk Minimization Mis-classification Cost Values</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('hybridmodel') }}">
                  <label for="yourname">Enter values for - lamPL,lamPW,lamLP,lamLW,lamWP,lamWL</label>
                  <input type="text" name="yourname" value="9.1,0.03,6.1,0.3,30.3,7.6" /><br />
                  <label for="youremail">Enter alpha value</label>
                  <input type="text" name="youremail" value="5.0" /><br />
                  <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>

